Repository Necrelox/AR-U-Here, pull requests merged in 2022-07, with the labels that each got.

#72 Bug fixing on AppBar
  App/lib/Registration/login.dart
  App/lib/Registration/register.dart
  App/lib/dashboard/Home.dart
  App/lib/dashboard/planning.dart
  App/lib/welcome_page.dart
Labels: bug, APP

#76 Link planning page
  App/lib/components/navbar.dart
  App/lib/dashboard/Home.dart
Labels: APP

#81 [APP] #80: Changez toutes les couleurs en variables et correction front page home
  App/lib/Registration/login.dart
  App/lib/Registration/register.dart
  App/lib/animation.dart
  App/lib/components/appbar.dart
  App/lib/components/navbar.dart
  App/lib/dashboard/Home.dart
  App/lib/dashboard/absent.dart
  App/lib/dashboard/planning.dart
  App/lib/didactiel/didactiel1.dart
  App/lib/didactiel/didactiel2.dart
  App/lib/didactiel/didactiel3.dart
  App/lib/didactiel/didactiel4.dart
  App/lib/myapp.dart
  App/lib/welcome_page.dart
Labels: enhancement, APP

#86 #85 : add new column address and phone
  Api/src/server/controller/user/userController.ts
  Api/src/server/controller/user/utils/userUtils.ts
  Api/src/server/model/interface/user/IUser.ts
  Database/Model_ArUHere.mwb
  Database/Model_ArUHere.mwb.bak
  Database/diagram-database.png
  Database/generate-database.sql
Labels: enhancement, API

#96 #95 : add temporary token in return of signup and correction cp
  Api/.nvmrc
  Api/bin/builder.ts
  Api/package-lock.json
  Api/package.json
  Api/src/server/controller/account/accountController.ts
  Api/src/server/controller/user/userController.ts
  Api/src/server/database/databaseQueries/AccountQueries/index.ts
Labels: enhancement, API

#103 Feature/issue#100
  App/lib/Registration/register.dart
  App/lib/api/api.dart
Labels: APP, API

#108 [APP] #101: Statistique page
  Api/package.json
  App/lib/components/appbar.dart
  App/lib/components/navbar.dart
  App/lib/dashboard/Home.dart
  App/lib/dashboard/absent.dart
  App/lib/dashboard/planning.dart
  App/lib/dashboard/statistique.dart
  App/pubspec.yaml
Labels: enhancement, APP

#82 [APP] #79: Finish 2 view ChoicePresence & DeclareProblem
  App/lib/page/choicepresence.dart
  App/lib/page/declareproblem.dart
Labels: enhancement, APP

#98 [APP] #61 : Création de la page Profile & API update et get
  Api/package-lock.json
  App/ios/Podfile.lock
  App/lib/api/api.dart
  App/lib/class/User.dart
  App/lib/components/navbar.dart
  App/lib/dashboard/Home.dart
  App/lib/dashboard/profile.dart
  App/lib/welcome_page.dart
  App/pubspec.yaml
Labels: enhancement, APP
